.story{
    &__pictures{
        background-color: orangered;
        grid-column: full-start / col-start 5;
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        background-image: url(../img/back.jpg);
        background-repeat: no-repeat;
        background-position: center;
        

       
    }

    &__img--1{
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 /6;
    //box-shadow: 0 2rem 5rem rgb(#000, .1); it does now wrok
    

    }
// want to make this image overlapping. we need to use z-index to make this image on the top of others
    &__img--2{
        width: 110%; // we can see this width with inspect elements
        grid-row: 4 / 6;
        grid-column: 4 / 7;
        // make this image overlap
        z-index: 20;
        //box-shadow: 0 2rem 5rem rgb(#000, .1);
        
    }

      

    &__content{
       background-color: palevioletred;
        grid-column: col-start 5 / full-end;

       //padding: 6rem 12rem; // instead of making fixed left right padding we can make percentage of vh

       padding: 6rem 8vh;

        /*
        display: flex;
        flex-direction: column;
        justify-content: center; // how do we now center all items under flex across the main-axis?
        align-items: flex-start; //align items property by default set to stretch. Make it flex-start
        */
        //we will have the same result by grid

        display:grid;
        align-content: flex-start; // this property will align all our grid tracks in vertical direction.
        justify-items: start;

    }

    &__text{
        font-size: 1.5rem;
        font-style: italic;
        margin-bottom: 4rem;
    }
}